
{% extends 'base.html' %}

{% block content %}

<div class="jumbotron {{category_color}}" >
  <h1 class="display-4">  {{ api.0.Category.Name }}<br/></h1>
  <p class="lead">Current {{ api.0.ReportingArea }}  Air Quality : {{ api.0.AQI }}</p>
  <hr class="my-4">
  {% if api.0.Category.Name  == "Good" %}
  <p>
    (0,50) Air Quality is considered satisfactory, and air pollution poses little or no risk
  </p>
  {% endif %}
</div>

<br/><br/>
Air Quality : {{ api.0.AQI }}<br/>
Area: {{ api.0.ReportingArea }}<br/>
Category: {{ api.0.Category.Name }}<br/>
Latitude: {{ api.0.Latitude }}<br/>
Longitude: {{ api.0.Longitude }}<br/>
{% endblock %}
